<div class="d-flex">
     <div class="mr-auto p-2">
        <h2>Edit Product #<?=$product->id ?></h2>
    </div>
    <div class="p-2">
    	<a href="?controller=product&action=index" class="link-float-back" >
            <img src="includes/images/min/icon-back2.svg" alt="">
        </a>
    </div>
</div>
<hr>

<form action='?controller=product&action=edit' id="frmImage" name="frmImage" method='post' enctype="multipart/form-data">
	<input type='hidden' name='action' value='edit'>
	<input type='hidden' name='id' id="id" value="<?= $product->id; ?>">
	<input type='hidden' name='image' id="id-image" value="<?= $product->image; ?>">

	<div id="container" style="display: flex; width: 100%;">
	    <div id="frm" style="width: 80%;">
			<div class="form-row">
			    <div class="form-group col-md-8">
			        <label><span class="text-danger">*</span> SKU</label>
			        
			        <div class="d-flex">
			        	<input type='text' id="idSku" name='sku' class='form-control col-sm-3' placeholder='SKU' value="<?= $product->sku?>" required readonly>
			        	<div style="margin-left: 10px;">
			        		<img src="includes/barcode-php1/generar.php?sku=<?= $product->sku?>&w=2">
			        	</div>     	
			        </div>
			    </div>
			</div>
			<div class="form-row">
			    <div class="form-group col-md-8">
			        <label><span class="text-danger">*</span> Product Name</label>
			        <input type='text' name='name' class='form-control' placeholder='Product Name' value="<?= $product->name?>" required>
			    </div>
			</div>
			<div class="form-row">
			    <div class="form-group col-md-8">
			        <label><span class="text-danger">*</span> Price</label>
			        <input type='text' name='price' class='form-control' placeholder='Price' value="<?= $product->price?>" required>
			    </div>
			</div>	
			<div class="form-row">
			    <div class="form-group col-md-8">
			        <label> Complement</label>
			        <input type='text' name='description' class='form-control' placeholder='Complement' value="<?= $product->description?>">
			    </div>
			</div>	
			<div class="form-row">
			    <div class="form-group col-md-8">
			        <label><span class="text-danger">*</span> Quantity</label>
			        <input type='number' name='quantity' class='form-control' placeholder='Quantity' value="<?= $product->quantity?>" required>
			    </div>
			</div>
		</div>
		<!-- crooper image -->
		<div id="imgDiv" style="margin-top: 20px;margin-right: 20%;">
			<div id="imgDiv" style="margin-top: 20px;margin-right: 30px;">
			    <div class="text-center"> 
			        <div style="height: 250px; width: 250px; vertical-align: center;">
			            <img src="" id="idImage" alt="Avatar" style="border: 4px solid #f2f2f2;width:100%; height:100%" >
			            <div  style="padding-top: 10px;">
			            	<input type="file" name="imgfile" id="imgfile" accept=".jpeg,.jpg,.png,.gif">
			            	<div class="d-flex">
		            		    <a id="aImg" data-toggle="modal" data-target="#image-select"  class="btn btn-outline-success btn-sm" onclick="javascript:document.forms['frmImage'].submit();">
		            		        <img src="includes/images/min/bandeja-de-salida.svg" style="width: 20px;height: 20px;"> Upload
		            		    </a>		
			            	</div>
			            
			            </div>
			        </div>			        
			    </div>
			</div>
		</div>
	</div>
	<input type='submit' class="btn btn-success" value='Save'>
</form>

<script type="text/javascript">
	//to show image
	var ruta;
	var tit;
	im = document.getElementById("id-image").value;
	ruta = "includes/images/min/carrinho.svg";
	tit = "Add your image";

	if (im && im !==''){
	    ruta = "includes/images/products/"+im;
	    tit = "Edit your image";
	}

	var b = document.querySelector("#idImage"); 
	b.setAttribute("src", ruta);
	document.getElementById("aImg").title = tit;	
</script>
