<div class="d-flex">
     <div class="mr-auto p-2">
        <h2>Import Products File</h2>
    </div>
    <div class="p-2">    
        <a href="?controller=welcome&action=index" class="link-float-back" >
            <img src="includes/images/min/icon-back2.svg" alt=""></a>
    </div>
</div>
<hr>
<?= $msj; ?>
<form action="?controller=product&action=uploadFile" method="post" enctype="multipart/form-data">
	<div class="d-flex">
		<input type="file" name="fileToUpload" accept=".csv" id="fileToUpload" class="form-control col-md-6">
		<input type="submit" value="Upload File" name="submit" class="btn btn-success btn-sm">	
	</div>	
	<br>
	<?php
		if (isset($proFileDet) && !empty($proFileDet)) { ?>
	<div class="table-responsive" style="vertical-align: center;">
		<table class="table table-striped table-hover table-bordered table-sm shadow bg-white">
			<thead class="text-center">
			<tr><th colspan="7">Content of the loaded file</th></tr>
			<tr>
				<th class="d-none d-lg-table-cell">#</th>
				<th class="d-none d-sm-table-cell">Name</th>
				<th class="d-none d-sm-table-cell">SKU</th>
				<th class="d-none d-lg-table-cell">Complement</th>
				<th class="d-none d-lg-table-cell">Quantity</th>
				<th class="d-none d-sm-table-cell">Price</th>
				<th class="d-none d-lg-table-cell">Categories</th>
			</tr>
			</thead>
			<tbody>

	<?php 		foreach ($proFileDet as $detalle): ?>
			<tr>
				<td class="d-none d-lg-table-cell text-center"><?=$detalle['nro']?></td>
				<td class="d-none d-sm-table-cell"><?=$detalle['nome']?></td>
				<td class="d-none d-sm-table-cell"><?=$detalle['sku']?></td>
				<td class="d-none d-lg-table-cell"><?=$detalle['descricao']?></td>
				<td class="d-none d-lg-table-cell text-center"><?=$detalle['quantidade']?></td>
				<td class="d-none d-sm-table-cell"><?=$detalle['preco']?></td>
				<td class="d-none d-lg-table-cell"><?=$detalle['categoria']?></td>
			</tr>
			<?php 
				endforeach; 
			?>
			</tbody>
		</table>
	</div>
<?php	}?>
</form>