<div class="wrap push">
        <header class="header-dashboard">
            <a href="#menu" class="menu-link"><img src="includes/images/min/menu-open.svg" alt=""></a>
            <h2 class="title-dashboard">Test Nova M3</h2>
        </header>
    </div>
    <!--nav class="sidebar">
    <ul class="list-unstyled"-->
    <nav id="menu" class="sidebar" role="navigation"> <!--class=panel-->
        <a href="/test-novam3" class="logo-dashboard">
            <img src="includes/images/min/icon-logo-novam3.svg" alt=""><h1>Test Developer PHP</h1>
        </a>
        <ul class="list-unstyled ul-p">
            <li class="diviser-list"></li>
            <li>
                <a href="#submenu1" data-toggle="collapse">
                    <img src="includes/images/min/icon-user.svg" alt=""> Users   
                </a>
                <li class="diviser-list"></li>
                <ul id="submenu1" class="list-unstyled collapse">
                    <li>
                        <a href="?controller=user&action=index">
                            <img src="includes/images/min/icon-user.svg" alt=""> 
                            List users
                        </a>
                    </li>
                    <li class="diviser-list"></li>
                    <li>
                        <a href="?controller=user&action=add">
                            <img src="includes/images/min/icon-user-plus.svg" alt="">
                            Add user
                        </a>
                    </li>
                </ul>
            </li>
            <li class="diviser-list"></li>
            <li>
                <a href="?controller=category&action=index">
                    <img src="includes/images/min/icon-category.svg" alt=""> Categories   
                </a>
            </li>
            <li class="diviser-list"></li>
            <li>
                <a href="#submenu3" data-toggle="collapse">
                    <img src="includes/images/min/icon-cart.svg" alt=""> Products   
                </a>
                <li class="diviser-list"></li>
                <ul id="submenu3" class="list-unstyled collapse">
                    <li>
                        <a href="?controller=product&action=index">
                            <img src="includes/images/min/icon-cart.svg" alt=""> 
                            List Products
                        </a>
                    </li>
                    <li class="diviser-list"></li>
                    <li>
                        <a href="?controller=product&action=add">
                            <img src="includes/images/min/icon-cart-plus.svg" alt=""> 
                            Add Product
                        </a>
                    </li>
                    <li>
                        <a href="?controller=product&action=uploadFile">
                            <img src="includes/images/min/icon-cart-plus.svg" alt=""> 
                            Import Products
                        </a>
                    </li>
                </ul>
            </li>
            <li class="diviser-list"></li>
        </ul>
    </nav>